@import '../node_modules/bootstrap/scss/bootstrap.scss';

@import '/node_modules/@fontsource/oxanium/400.css';
@import '/node_modules/@fontsource/oxanium/500.css';
@import '/node_modules/@fontsource/oxanium/600.css';
@import '/node_modules/@fontsource/oxanium/700.css';

body {
  font-family: 'Oxanium', system-ui;
}

.border-2-black{
  border: 2px solid black;
}

.circle{
  border-radius: 50%;
}

.btn-csm {
  border: 2px solid #000;
  border-radius: 0.5vw;
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  font-size: 1.6vw;
}

.btn-csm:active {
  transform: scale(0.95);
}

.btn-csm.disabled{
  cursor: default;
  opacity: 25%;
  &:active{
    transform: scale(1);
  }
}

/* Styles for screens above 1000px */
@media only screen and (min-width: 1000px) {
  .btn-csm {
    font-size: 16px;
  }
}